{% extends 'blog/base.html' %}

{% block content %}
    <div class="client">
        {% if client.applaunch %}
            <div class="date">
                {{ client.applaunch }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'client_edit' pk=client.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ client.name }}</h1>
    	<p><h3>Guidebuilding Status: </h3>{{ client.get_gstatus_display|linebreaks }}</p>
        <p><h3>Apple Submission Status: </h3>{{ client.get_appstatus_display|linebreaks }}</p>
        <p><h3>Google Play Submission Status: </h3>{{ client.get_pstatus_display|linebreaks }}</p>
        <p><h3>Blackberry Submission Status: </h3>{{ client.get_bstatus_display|linebreaks }}</p>
        <p><h3>Amazon Submission Status: </h3>{{ client.get_astatus_display|linebreaks }}</p>
        <p><h3>Desired Launch Date: </h3>{{ client.applaunch|linebreaks }}</p>
        <p><h3>Intro Email Sent:  </h3>{{ client.intro|linebreaks }}</p>
        <p><h3>Apple App Submitted: </h3>{{ client.appsub|linebreaks }}</p>
        <p><h3>Apple App Published: </h3>{{ client.apppub|linebreaks }}</p>
     <!--   <p><h3>Event Date: </h3>{{ client.eventdate|linebreaks }}</p>!-->
        <p><h3>Client Guides: </h3>{{ client.guides|linebreaks }}</p>
    </div>
{% endblock %}
